<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
    debug="false" scan="false">

    <!-- Application name -->
    <contextName>${artifactId}-test</contextName>

    <!-- Shutdown hook to ensure proper cleanup of the logging context -->
    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>

    <!-- Properties configuration -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%blue(%thread)] %cyan(%logger{36}) - %msg%n%magenta(%throwable)"/>
    <property name="QUEUE_SIZE" value="2048"/>

    <!-- Console appender with colors -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Async appender -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <queueSize>${QUEUE_SIZE}</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <neverBlock>true</neverBlock>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
